<launch>

  <arg name="position_scale" default="1.6" />
  <arg name="orientation_scale" default="0.75" />
  <arg name="right_orientation_scale" default="1.3" />
  <arg name="left_orientation_scale" default="1.3" />
  <arg name="near_base_position_priority" default="true" />
  <arg name="near_base_x_threshold" default="0.38" />
  <arg name="near_base_down_delta" default="-0.001" />
  <arg name="near_base_orientation_scale" default="0.60" />
  <arg name="near_base_orientation_weight" default="0.16" />
  <arg name="near_base_ref_blend" default="0.65" />
  <arg name="near_base_joint_reference" default="[0.0, 0.65, -1.25, 0.0, 0.05, 0.0]" />
  <arg name="command_hz" default="18.0" />
  <arg name="joint_command_hz" default="18.0" />
  <arg name="driver_command_hz" default="20.0" />
  <arg name="control_speed" default="16" />
  <arg name="max_joint_step_deg" default="4.0" />
  <arg name="init_duration" default="4.0" />
  <arg name="init_rate" default="20.0" />
  <arg name="debug_joint3" default="false" />
  <arg name="joint_reference" default="[0.0, 0.35, -0.75, 0.0, 0.05, 0.0]" />
  <arg name="ik_filter_alpha" default="0.4" />
  <arg name="ik_deadband" default="0.003" />
  <arg name="ik_position_cost_weight" default="180.0" />
  <arg name="ik_orientation_weight" default="0.45" />
  <arg name="ik_regularization_weight" default="0.03" />
  <arg name="ik_regularization_weights" default="[0.001, 0.001, 0.0004, 0.012, 0.012, 0.012]" />
  <arg name="command_deadband_deg" default="0.08" />
  <arg name="ik_max_solution_jump_deg" default="55.0" />
  <arg name="ik_max_wrist_jump_deg" default="45.0" />
  <arg name="joint5_soft_abs_limit_deg" default="65.0" />
  <arg name="joint6_ik_abs_limit_deg" default="180.0" />
  <arg name="max_delta_position" default="0.035" />
  <arg name="max_delta_rpy_deg" default="14.0" />
  <arg name="rpy_limit" default="2.2" />
  <arg name="enable_grip_threshold" default="0.25" />
  <arg name="reset_hold_sec" default="0.0" />
  <arg name="auto_init_on_start" default="false" />
  <arg name="debug_buttons" default="false" />
  <arg name="debug_pose" default="false" />
  <arg name="control_mode" default="delta_ik" />
  <arg name="enable_collision_check" default="false" />
  <arg name="collision_log_period" default="2.0" />
  <arg name="position_axis_map" default="[0, 1, 2]" />
  <arg name="position_axis_sign" default="[1.0, 1.0, 1.0]" />
  <arg name="right_position_axis_sign" default="[1.0, 1.0, 1.0]" />
  <arg name="left_position_axis_sign" default="[1.0, 1.0, 1.0]" />
  <arg name="position_axis_scale" default="[1.0, 2.8, 1.0]" />
  <arg name="right_position_axis_scale" default="[1.3, 0.7, 1.0]" />
  <arg name="left_position_axis_scale" default="[1.3, 0.7, 1.0]" />
  <arg name="orientation_axis_map" default="[0, 1, 2]" />
  <arg name="orientation_axis_sign" default="[1.0, 1.0, 1.0]" />
  <arg name="right_orientation_axis_sign" default="[1.0, -1.0, 1.0]" />
  <arg name="left_orientation_axis_sign" default="[1.0, -1.0, 1.0]" />
  <arg name="workspace_min" default="[0.08, -0.35, -0.10]" />
  <arg name="workspace_max" default="[0.58, 0.35, 0.55]" />
  <arg name="meshcat_vis" default="false" />
  <arg name="log_joint_commands" default="false" />
  <arg name="use_rviz" default="false" />

  <include file="$(find piper)/launch/start_double_piper.launch">
    <arg name="control_speed" value="$(arg control_speed)" />
    <arg name="driver_command_hz" value="$(arg driver_command_hz)" />
    <arg name="log_joint_commands" value="$(arg log_joint_commands)" />
  </include>

  <node name="teleop_double_piper_node" pkg="oculus_reader" type="teleop_double_piper.py" output="screen">
    <param name="position_scale" value="$(arg position_scale)" type="double" />
    <param name="orientation_scale" value="$(arg orientation_scale)" type="double" />
    <param name="right_orientation_scale" value="$(arg right_orientation_scale)" type="double" />
    <param name="left_orientation_scale" value="$(arg left_orientation_scale)" type="double" />
    <param name="near_base_position_priority" value="$(arg near_base_position_priority)" type="bool" />
    <param name="near_base_x_threshold" value="$(arg near_base_x_threshold)" type="double" />
    <param name="near_base_down_delta" value="$(arg near_base_down_delta)" type="double" />
    <param name="near_base_orientation_scale" value="$(arg near_base_orientation_scale)" type="double" />
    <param name="near_base_orientation_weight" value="$(arg near_base_orientation_weight)" type="double" />
    <param name="near_base_ref_blend" value="$(arg near_base_ref_blend)" type="double" />
    <param name="command_hz" value="$(arg command_hz)" type="double" />
    <param name="joint_command_hz" value="$(arg joint_command_hz)" type="double" />
    <param name="max_joint_step_deg" value="$(arg max_joint_step_deg)" type="double" />
    <param name="init_duration" value="$(arg init_duration)" type="double" />
    <param name="init_rate" value="$(arg init_rate)" type="double" />
    <param name="debug_joint3" value="$(arg debug_joint3)" type="bool" />
    <param name="ik_filter_alpha" value="$(arg ik_filter_alpha)" type="double" />
    <param name="ik_deadband" value="$(arg ik_deadband)" type="double" />
    <param name="ik_position_cost_weight" value="$(arg ik_position_cost_weight)" type="double" />
    <param name="ik_orientation_weight" value="$(arg ik_orientation_weight)" type="double" />
    <param name="ik_regularization_weight" value="$(arg ik_regularization_weight)" type="double" />
    <param name="command_deadband_deg" value="$(arg command_deadband_deg)" type="double" />
    <param name="ik_max_solution_jump_deg" value="$(arg ik_max_solution_jump_deg)" type="double" />
    <param name="ik_max_wrist_jump_deg" value="$(arg ik_max_wrist_jump_deg)" type="double" />
    <param name="joint5_soft_abs_limit_deg" value="$(arg joint5_soft_abs_limit_deg)" type="double" />
    <param name="joint6_ik_abs_limit_deg" value="$(arg joint6_ik_abs_limit_deg)" type="double" />
    <param name="max_delta_position" value="$(arg max_delta_position)" type="double" />
    <param name="max_delta_rpy_deg" value="$(arg max_delta_rpy_deg)" type="double" />
    <param name="rpy_limit" value="$(arg rpy_limit)" type="double" />
    <param name="enable_grip_threshold" value="$(arg enable_grip_threshold)" type="double" />
    <param name="reset_hold_sec" value="$(arg reset_hold_sec)" type="double" />
    <param name="auto_init_on_start" value="$(arg auto_init_on_start)" type="bool" />
    <param name="debug_buttons" value="$(arg debug_buttons)" type="bool" />
    <param name="debug_pose" value="$(arg debug_pose)" type="bool" />
    <param name="control_mode" value="$(arg control_mode)" />
    <param name="enable_collision_check" value="$(arg enable_collision_check)" type="bool" />
    <param name="collision_log_period" value="$(arg collision_log_period)" type="double" />
    <param name="meshcat_vis" value="$(arg meshcat_vis)" type="bool" />
    <param name="log_joint_commands" value="$(arg log_joint_commands)" type="bool" />
    <rosparam subst_value="true" param="joint_reference">$(arg joint_reference)</rosparam>
    <rosparam subst_value="true" param="near_base_joint_reference">$(arg near_base_joint_reference)</rosparam>
    <rosparam subst_value="true" param="ik_regularization_weights">$(arg ik_regularization_weights)</rosparam>
    <rosparam subst_value="true" param="position_axis_map">$(arg position_axis_map)</rosparam>
    <rosparam subst_value="true" param="position_axis_sign">$(arg position_axis_sign)</rosparam>
    <rosparam subst_value="true" param="right_position_axis_sign">$(arg right_position_axis_sign)</rosparam>
    <rosparam subst_value="true" param="left_position_axis_sign">$(arg left_position_axis_sign)</rosparam>
    <rosparam subst_value="true" param="position_axis_scale">$(arg position_axis_scale)</rosparam>
    <rosparam subst_value="true" param="right_position_axis_scale">$(arg right_position_axis_scale)</rosparam>
    <rosparam subst_value="true" param="left_position_axis_scale">$(arg left_position_axis_scale)</rosparam>
    <rosparam subst_value="true" param="orientation_axis_map">$(arg orientation_axis_map)</rosparam>
    <rosparam subst_value="true" param="orientation_axis_sign">$(arg orientation_axis_sign)</rosparam>
    <rosparam subst_value="true" param="right_orientation_axis_sign">$(arg right_orientation_axis_sign)</rosparam>
    <rosparam subst_value="true" param="left_orientation_axis_sign">$(arg left_orientation_axis_sign)</rosparam>
    <rosparam param="neutral_pose">[0.19, 0.0, 0.20, 0.0, 0.0, 0.0]</rosparam>
    <rosparam subst_value="true" param="workspace_min">$(arg workspace_min)</rosparam>
    <rosparam subst_value="true" param="workspace_max">$(arg workspace_max)</rosparam>
  </node>

  <node name="pub_pose_node" pkg="oculus_reader" type="pub_pose.py" output="screen" />

  <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find oculus_reader)/config/oculus_reader.rviz" />
  
</launch>
