<launch>
  <arg name="mode" default="1" />
  <arg name="auto_enable" default="false" />
  <arg name="start_rviz" default="false" />

  <node name="yuanyou_piper_left" pkg="piper" type="piper_start_ms_node.py" output="screen">
    <param name="can_port" value="can_leftarm" />
    <param name="mode" value="$(arg mode)" />
    <param name="auto_enable" value="$(arg auto_enable)" />
    <remap from="/puppet/joint_states" to="/puppet/joint_left" />
    <remap from="/master/joint_states" to="/left_joint_states" />
  </node>

  <node name="yuanyou_piper_right" pkg="piper" type="piper_start_ms_node.py" output="screen">
    <param name="can_port" value="can_rightarm" />
    <param name="mode" value="$(arg mode)" />
    <param name="auto_enable" value="$(arg auto_enable)" />
    <remap from="/puppet/joint_states" to="/puppet/joint_right" />
    <remap from="/master/joint_states" to="/right_joint_states" />
  </node>

  <node name="teleop_double_piper_node" pkg="oculus_reader" type="teleop_double_piper.py" output="screen" />
  <node name="pub_pose_node" pkg="oculus_reader" type="pub_pose.py" output="screen" />

  <node if="$(arg start_rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find oculus_reader)/config/oculus_reader.rviz" />
</launch>
